body{
    background-color: rgb(83, 83, 83);
}
#gridBox{
    display: flex;
    border: solid 5px black;
    width: 500px;
    height: 500px;
    background-color: white;
    
}
.boxFlex{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    /* border: solid .5px black; */
}
.boxCol{
    border-right: solid .5px black;
    border-top: solid .5px black;
    flex: 1 1 0%;
}
